---
import { SITE_TITLE } from "../consts";

const today = new Date();
---

<footer>
    <script type="text/javascript" src="/js/venobox.min.js"></script>
    <script>
        document.addEventListener("astro:page-load", () => {
            new VenoBox();
        });
    </script>
    <div class="dark:color-white">
        <div>
             {today.getFullYear()} &copy; {SITE_TITLE}.  版权所有
        </div>
    </div>
</footer>

<style>
    footer {
        padding: 2em 1em 6em 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }

    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }

    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style>
